<!DOCTYPE html>
<html lang="en" ng-app="bloodbowl" ng-controller="AppController as appController">
<head>
  <meta charset="UTF-8">
  <title>Blood Bowl Probabilities</title>
  <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="bower_components/angular/angular-csp.css">
  <link rel="stylesheet" href="web/css/app.css">
</head>
<body class="layout-column" layout="column">
  <div ng-cloak flex layout="column" tabIndex="-1" role="main" class="md-whiteframe-z2">
    <md-content class="md-padding">
      <div layout="column" layout-align="center center">
        <h1>Fouling Chances</h1>
      </div>
      <form name="playerForm"
            flex="noshrink"
            layout="column"
            layout-align="start start">
        <div style="width: 100%" layout="row" layout-align="start start">
        <md-input-container>
          <input ng-pattern="/^([1-9]|10)$/" ng-model="appController.av">
          <label>AV</label>
        </md-input-container>
        <md-input-container>
          <input ng-pattern="/^[0-7]$/" ng-model="appController.numAssists">
          <label>Number of Assists</label>
        </md-input-container>
        <md-input-container>
          <input ng-pattern="/^[0-5]$/" ng-model="appController.numBribes">
          <label>Number of Bribes</label>
        </md-input-container>
        </div>
        <div style="width: 100%" layout="row" layout-align="start, start">
          <md-checkbox md-no-ink aria-label="DirtyPlayer" ng-model="appController.dirtyPlayer" class="md-primary">
            Dirty Player
          </md-checkbox>
          <md-checkbox md-no-ink aria-label="Niggled" ng-model="appController.niggled" class="md-primary">
            Niggled
          </md-checkbox>
          <md-checkbox md-no-ink aria-label="ThickSkull" ng-model="appController.thickSkull" class="md-primary">
            Thick Skull
          </md-checkbox>
          <md-checkbox md-no-ink aria-label="Stunty" ng-model="appController.stunty" class="md-primary">
            Stunty
          </md-checkbox>
        </div>
        <div style="width: 100%" layout="column" layout-align="start, start">
          <md-button ng-click="appController.stomp()" class="md-raised md-accent">STOMP</md-button>
        </div>
        <md-card class="md-block" flex="noshrink" style="width: 500px">
          <md-card-content>
            <md-list>
            <md-list-item>Ejection probability: {{appController.ejection}}</md-list-item>
            <md-list-item>Removal probability: {{appController.removal}}</md-list-item>
            <md-list-item>Casualty probability: {{appController.cas}}</md-list-item>
            </md-list>
          </md-card-content>
          </md-card>
        </form>
    </md-content>
  </div>
       
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-aria/angular-aria.js"></script>
  <script src="bower_components/angular-material/angular-material.js"></script>
  <script src="web/src/bloodbowl.js"></script>
</body>
</html> 