<div ng-include="'navbar.html'" style="height: 50px"
     ng-init="currentNavItem='buildoptimizer';">
</div> 
<md-content class="md-padding" style="max-width: 800px" 
        layout="column"
        layout-align="start start">
    <md-card class="md-block" style="min-width:100%">
      <md-toolbar class="md-accent" md-scroll-shrink>
          <div class="md-toolbar-tools">Input</div>
      </md-toolbar>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Player info</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content layout="column" layout-align="start start">
        <div style="width: 100%" layout="row" layout-align="start, start">
          <md-input-container style="margin: 0">
            <input aria-label="Player AV" 
                   ng-pattern="/^([1-9]|1[0-2])$/" 
                   ng-model="buildOptController.playerAv">
            <label>AV</label>
          </md-input-container>
        </div>
        <md-card-title-text>
          <span class="md-subhead">Starting Skills</span>
        </md-card-title-text>
        <div style="width: 100%" layout="row" layout-align="start, start">
          <md-checkbox aria-label="block" md-no-ink ng-model="buildOptController.startingBlock" class="md-primary">
            Block
          </md-checkbox>
          <md-checkbox aria-label="frenzy" md-no-ink ng-model="buildOptController.startingFrenzy" class="md-primary">
            Frenzy
          </md-checkbox>
          <md-checkbox aria-label="mighty blow" md-no-ink ng-model="buildOptController.startingMb" class="md-primary">
            Mighty Blow
          </md-checkbox>
          <md-checkbox aria-label="claw" md-no-ink ng-model="buildOptController.startingClaw" class="md-primary">
            Claw
          </md-checkbox>
          <md-checkbox aria-label="wrestle" md-no-ink ng-model="buildOptController.startingWrestle" class="md-primary">
            Wrestle
          </md-checkbox>
          <md-checkbox aria-label="piling on" md-no-ink  ng-model="buildOptController.startingPo" class="md-primary">
            Piling On
          </md-checkbox>
          <md-checkbox aria-label="tackle" md-no-ink  ng-model="buildOptController.startingTackle" class="md-primary">
            Tackle
          </md-checkbox>
        </div>
      </md-card-content>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Builds</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content layout="column" layout-align="start start">
      <md-list style="width: 100%">
     
      <md-list-item style="width: 100%" 
          ng-repeat="skills in buildOptController.skills"
          ng-click="buildOptController.selectBuild($index)">
        <div style="width: 100%" layout="row" layout-align="start, start"
            ng-hide="buildOptController.buildOn[$index]">Build {{$index + 1}}
        </div>
        <div style="width: 100%" layout="row" layout-align="start, start"
            ng-hide="!buildOptController.buildOn[$index]">
        
          <md-input-container ng-repeat="i in [0, 1, 2, 3, 4]" style="margin: 0 2" flex="30">
            <md-select aria-label="Skill {{$index + 1}}"
                       ng-model="buildOptController.skills[$parent.$index][$index]" class="md-no-underline"
                       placeholder="Skill {{$index + 1}}"
                       ng-change=buildOptController.clearResults()>
              <md-option value="none">None</md-option>
              <md-option value="frenzy" ng-disabled="buildOptController.startingFrenzy || buildOptController.skills[$parent.$index].slice(0, $index).includes('frenzy')">
                Frenzy
              </md-option>
              <md-option value="block"  ng-disabled="buildOptController.startingBlock || buildOptController.skills[$parent.$index].slice(0, $index).includes('block')">
                Block
              </md-option>
              <md-option value="mb"  ng-disabled="buildOptController.startingMb || buildOptController.skills[$parent.$index].slice(0, $index).includes('mb')">
                Mighty Blow
              </md-option>
              <md-option value="claw"  ng-disabled="buildOptController.startingClaw || buildOptController.skills[$parent.$index].slice(0, $index).includes('claw')">
                Claw
              </md-option>
              <md-option value="po"  ng-disabled="buildOptController.startingPo || buildOptController.skills[$parent.$index].slice(0, $index).includes('po')">
                Piling On
              </md-option>
              <md-option value="tackle"  ng-disabled="buildOptController.startingTackle || buildOptController.skills[$parent.$index].slice(0, $index).includes('tackle')">
                Tackle
              </md-option>
            </md-select>
          </md-input-container>
        </div>      
        <md-divider ng-if="!$last"></md-divider>
      </md-list-item>
     
      </md-list>
      </md-card-content>
      
      
      
      <md-card-actions layout="column" layout-align="start">
        <md-button class="md-primary" ng-disabled="buildOptController.playerAv == null || 
                                                   buildOptController.playerAv == ''"
                    ng-click="buildOptController.evaluate()">
          Evaluate
        </md-button>
      </md-card-actions>
    </md-card>
    <md-card class="md-block" class="md-block" style="min-width:100%">
      <md-toolbar md-scroll-shrink>
        <div class="md-toolbar-tools">Results</div>
      </md-toolbar>
      <md-card-content>
      <md-table-container>
        <table md-table md-progress="promise">
          <thead md-head>
            <tr md-row>
              <th md-column style="text-align: center"><span>SPP</span></th>
              <th md-column style="text-align: center"><span>Expected Blocks Build 1</span></th>
              <th md-column style="text-align: center" ng-if="(buildOptController.skills[1][0] != null && 
                                                            buildOptController.skills[1][0] != 'none') || 
                                                            (buildOptController.skills[1][1] != null &&  
                                                            buildOptController.skills[1][1] != 'none') ||  
                                                            (buildOptController.skills[1][2] != null && 
                                                            buildOptController.skills[1][2] != 'none') ||  
                                                            (buildOptController.skills[1][3] != null &&  
                                                            buildOptController.skills[1][3] != 'none') ||  
                                                            (buildOptController.skills[1][4] != null &&  
                                                            buildOptController.skills[1][4] != 'none')">
                <span>Expected Blocks Build 2</span>
              </th>
              <th md-column style="text-align: center" ng-if="(buildOptController.skills[2][0] != null &&  
                                                            buildOptController.skills[2][0] != 'none') ||  
                                                            (buildOptController.skills[2][1] != null && 
                                                            buildOptController.skills[2][1] != 'none') ||  
                                                            (buildOptController.skills[2][2] != null &&  
                                                            buildOptController.skills[2][2] != 'none') || 
                                                            (buildOptController.skills[2][3] != null &&  
                                                            buildOptController.skills[2][3] != 'none') || 
                                                            (buildOptController.skills[2][4] != null &&  
                                                            buildOptController.skills[2][4] != 'none')">
                <span>Expected Blocks Build 3</span>
            </th>
            </tr>
          </thead>
          <tbody md-body>
            <tr md-row ng-repeat="i in [6, 16, 31, 51, 76, 176]">
              <td md-cell style="text-align: center">{{i}}</td>
              <td md-cell style="text-align: center" ng-style="{'background-color': buildOptController.minBlocks[$index] == buildOptController.expectedBlocksToSkill[0][$index] ? '#BCF478' : 'white' }" ">
                          {{buildOptController.expectedBlocksToSkill[0][$index]}}</td>
              <td md-cell ng-style="{ 'background-color': buildOptController.minBlocks[$index] == buildOptController.expectedBlocksToSkill[1][$index] ? '#BCF478' : 'white' }" 
                          style="text-align: center" ng-if="(buildOptController.skills[1][0] != null && 
                                                            buildOptController.skills[1][0] != 'none') || 
                                                            (buildOptController.skills[1][1] != null &&  
                                                            buildOptController.skills[1][1] != 'none') ||  
                                                            (buildOptController.skills[1][2] != null && 
                                                            buildOptController.skills[1][2] != 'none') ||  
                                                            (buildOptController.skills[1][3] != null &&  
                                                            buildOptController.skills[1][3] != 'none') ||  
                                                            (buildOptController.skills[1][4] != null &&  
                                                            buildOptController.skills[1][4] != 'none')">{{buildOptController.expectedBlocksToSkill[1][$index]}}</td>
              <td md-cell ng-style="{ 'background-color': buildOptController.minBlocks[$index] == buildOptController.expectedBlocksToSkill[2][$index] ? '#BCF478' : 'white' }" 
                          style="text-align: center" ng-if="(buildOptController.skills[2][0] != null &&  
                                                            buildOptController.skills[2][0] != 'none') ||  
                                                            (buildOptController.skills[2][1] != null && 
                                                            buildOptController.skills[2][1] != 'none') ||  
                                                            (buildOptController.skills[2][2] != null &&  
                                                            buildOptController.skills[2][2] != 'none') || 
                                                            (buildOptController.skills[2][3] != null &&  
                                                            buildOptController.skills[2][3] != 'none') || 
                                                            (buildOptController.skills[2][4] != null &&  
                                                            buildOptController.skills[2][4] != 'none')">{{buildOptController.expectedBlocksToSkill[2][$index]}}</td>
            </tr>
          </tbody>
       </table>
    </md-card>
</md-content>
</div>