<div ng-include="'navbar.html'" style="height: 50px"
     ng-init="currentNavItem='buildoptimizer';">
</div> 
<md-content class="md-padding">
  <form name="playerForm"
        flex="noshrink"
        layout="column"
        layout-align="start start">
    <md-card class="md-block">
      <md-toolbar class="md-accent" md-scroll-shrink>
          <div class="md-toolbar-tools">Input</div>
      </md-toolbar>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Player info</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content layout="column" layout-align="start start">
        <div style="width: 100%" layout="row" layout-align="start, start">
          <md-input-container style="margin: 0">
            <input aria-label="Player AV" 
                   ng-pattern="/^([1-9]|1[0-2])$/" 
                   ng-model="buildOptController.playerAv">
            <label>AV</label>
          </md-input-container>
        </div>
        <md-card-title-text>
          <span class="md-subhead">Starting Skills</span>
        </md-card-title-text>
        <div style="width: 100%" layout="row" layout-align="start, start">
          <md-checkbox aria-label="block" md-no-ink aria-label="Block" ng-model="buildOptController.startingBlock" class="md-primary">
            Block
          </md-checkbox>
          <md-checkbox aria-label="frenzy" md-no-ink aria-label="Wrestle" ng-model="buildOptController.startingFrenzy" class="md-primary">
            Frenzy
          </md-checkbox>
          <md-checkbox aria-label="mighty blow" md-no-ink aria-label="Wrestle" ng-model="buildOptController.startingMb" class="md-primary">
            Mighty Blow
          </md-checkbox>
          <md-checkbox aria-label="claw" md-no-ink aria-label="Wrestle" ng-model="buildOptController.startingClaw" class="md-primary">
            Claw
          </md-checkbox>
          <md-checkbox aria-label="wrestle" md-no-ink aria-label="Wrestle" ng-model="buildOptController.startingWrestle" class="md-primary">
            Wrestle
          </md-checkbox>
        </div>
      </md-card-content>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Proposed Build</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content layout="column" layout-align="start start">
        <div style="width: 100%" layout="row" layout-align="start, start">
          <md-input-container style="margin: 0 2" flex="30">
            <label>Skill 1</label>
            <md-select aria-label="Skill 1"
                       ng-model="buildOptController.skill1">
              <md-option value="none">None</md-option>
              <md-option value="frenzy" ng-disabled=buildOptController.startingFrenzy>
                Frenzy
              </md-option>
              <md-option value="block"  ng-disabled=buildOptController.startingBlock>
                Block
              </md-option>
              <md-option value="mb"  ng-disabled=buildOptController.startingMb>
                Mighty Blow
              </md-option>
              <md-option value="claw"  ng-disabled=buildOptController.startingClaw>
                Claw
              </md-option>
            </md-select>
          </md-input-container>
          <md-input-container style="margin: 0 2" flex="30">
            <label>Skill 2</label>
            <md-select aria-label="Skill 2"
                       ng-model="buildOptController.skill2">
              <md-option value="none">None</md-option>
              <md-option value="frenzy" 
                         ng-disabled="buildOptController.startingFrenzy || buildOptController.skill1 == 'frenzy'">
                Frenzy
              </md-option>
              <md-option value="block" 
                         ng-disabled="buildOptController.startingBlock ||  buildOptController.skill1 == 'block'">
                Block
              </md-option>
              <md-option value="mb"  
                         ng-disabled="buildOptController.startingMb || buildOptController.skill1 == 'mb'">
                Mighty Blow
              </md-option>
              <md-option value="claw" 
                         ng-disabled="buildOptController.startingClaw || buildOptController.skill1 == 'claw'">
                Claw
              </md-option>
            </md-select>
          </md-input-container>
          <md-input-container style="margin: 0 2" flex="30">
            <label>Skill 3</label>
            <md-select aria-label="Skill 3"
                       ng-model="buildOptController.skill3">
              <md-option value="none">None</md-option>
              <md-option value="frenzy" 
                         ng-disabled="buildOptController.startingFrenzy || buildOptController.skill1 == 'frenzy' || buildOptController.skill2 == 'frenzy'">
                Frenzy
              </md-option>
              <md-option value="block" 
                         ng-disabled="buildOptController.startingBlock ||  buildOptController.skill1 == 'block' || buildOptController.skill2 == 'block'">
                Block
              </md-option>
              <md-option value="mb"  
                         ng-disabled="buildOptController.startingMb || buildOptController.skill1 == 'mb' || buildOptController.skill2 == 'mb'">
                Mighty Blow
              </md-option>
              <md-option value="claw" 
                         ng-disabled="buildOptController.startingClaw || buildOptController.skill1 == 'claw' || buildOptController.skill2 == 'claw'">
                Claw
              </md-option>
            </md-select>
          </md-input-container>
        </div>
        <div style="width: 100%" layout="row" layout-align="start, start">
          <md-input-container style="margin: 0 2" flex="30">
            <label>Skill 4</label>
            <md-select aria-label="Skill 4"
                       ng-model="buildOptController.skill4">
              <md-option value="none">None</md-option>
              <md-option value="frenzy" 
                         ng-disabled="buildOptController.startingFrenzy || buildOptController.skill1 == 'frenzy' || buildOptController.skill2 == 'frenzy' || buildOptController.skill3 == 'frenzy'">
                Frenzy
              </md-option>
              <md-option value="block" 
                         ng-disabled="buildOptController.startingBlock ||  buildOptController.skill1 == 'block' || buildOptController.skill2 == 'block' || buildOptController.skill3 == 'block'">
                Block
              </md-option>
              <md-option value="mb"  
                         ng-disabled="buildOptController.startingMb || buildOptController.skill1 == 'mb' || buildOptController.skill2 == 'mb' || buildOptController.skill3 == 'mb'">
                Mighty Blow
              </md-option>
              <md-option value="claw" 
                         ng-disabled="buildOptController.startingClaw || buildOptController.skill1 == 'claw' || buildOptController.skill2 == 'claw' || buildOptController.skill3 == 'claw'">
                Claw
              </md-option>
            </md-select>
          </md-input-container>
          <md-input-container style="margin: 0 2" flex="30">
            <label>Skill 5</label>
            <md-select aria-label="Skill 5"
                       ng-model="buildOptController.skill5">
              <md-option value="none">None</md-option>
              <md-option value="frenzy" 
                         ng-disabled="buildOptController.startingFrenzy || buildOptController.skill1 == 'frenzy' || buildOptController.skill2 == 'frenzy' || buildOptController.skill3 == 'frenzy' || buildOptController.skill4 == 'frenzy'">
                Frenzy
              </md-option>
              <md-option value="block" 
                         ng-disabled="buildOptController.startingBlock ||  buildOptController.skill1 == 'block' || buildOptController.skill2 == 'block' || buildOptController.skill3 == 'block' || buildOptController.skill4 == 'block'">
                Block
              </md-option>
              <md-option value="mb"  
                         ng-disabled="buildOptController.startingMb || buildOptController.skill1 == 'mb' || buildOptController.skill2 == 'mb' || buildOptController.skill3 == 'mb' || buildOptController.skill4 == 'mb'">
                Mighty Blow
              </md-option>
              <md-option value="claw" 
                         ng-disabled="buildOptController.startingClaw || buildOptController.skill1 == 'claw' || buildOptController.skill2 == 'claw' || buildOptController.skill3 == 'claw' || buildOptController.skill4 == 'claw'">
                Claw
              </md-option>
            </md-select>
          </md-input-container>
        </div>
      </md-card-content>
      <md-card-actions layout="column" layout-align="start">
        <md-button class="md-primary" ng-disabled="buildOptController.playerAv == null || 
                                                   buildOptController.playerAv == ''"
                    ng-click="buildOptController.evaluate()">
          Evaluate
        </md-button>
      </md-card-actions>
    </md-card>
    <md-card class="md-block" flex="noshrink" style="width: 657px">
      <md-toolbar md-scroll-shrink>
        <div class="md-toolbar-tools">Results</div>
      </md-toolbar>
      <md-card-content>
        <md-list>
          <md-list-item>Expected {{buildOptController.expectedFirstSkill}} blocks until 6SPP: Gains {{buildOptController.skill1}} </md-list-item>
          <md-list-item>Expected {{buildOptController.expectedSecondSkill}} blocks until 16SPP: Gains {{buildOptController.skill2}} </md-list-item>
          <md-list-item>Expected {{buildOptController.expectedThirdSkill}} blocks until 31SPP: Gains {{buildOptController.skill3}} </md-list-item>
          <md-list-item>Expected {{buildOptController.expectedFourthSkill}} blocks until 51SPP: Gains {{buildOptController.skill4}} </md-list-item>
          <md-list-item>Expected {{buildOptController.expectedFifthSkill}} blocks until 76SPP: Gains {{buildOptController.skill5}} </md-list-item>
          <md-list-item>Expected {{buildOptController.expectedSixthSkill}} blocks until 176SPP</md-list-item>
        </md-list>
      </md-card-content>
    </md-card>
  </form>
</md-content>
</div>